<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Page Title -->
    <title>{% block title %}College Management System{% endblock %}</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!-- These will be loaded from the 'school_info' context variable -->
    <!-- <link href="{% if school_info.school_logo %}{{ school_info.school_logo.url }}{% endif %}" rel="icon"> -->
    <!-- <link href="{% if school_info.school_logo %}{{ school_info.school_logo.url }}{% endif %}" rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Inter:300,400,500,600,700" rel="stylesheet">

    <!-- Base Stylesheet -->
    {% block basestyle %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'admin_site/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="{% static 'admin_site/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <!-- NiceAdmin CSS -->
    <link href="{% static 'admin_site/styles/style.css' %}" rel="stylesheet">

    {% endblock %}

    <!-- Custom Page-Specific Styles -->
    {% block extra_styles %}
    {% endblock %}
</head>

<body>

    <!-- ======= Header ======= -->
    {% block header %}
    <!-- Header content from child templates -->
    {% endblock %}
    <!-- End Header -->
    <header id="header" class="header non-printable fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">{{ site_info|upper }}</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">



        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="{% static 'admin_site/images/default_image.jpg' %}" alt="Profile" class="rounded-circle">
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6 class="card-title">{{ user.username|upper}}</h6>
              <span>{% if user.is_superuser %} SuperAdmin {% elif user.staff %} {{ user.staff|title }} {% elif user.student %} {{ user.student|title }} {% endif %}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>


            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'accounts:logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->


    <!-- ======= Sidebar ======= -->
    {% block sidebar %}
    <!-- Sidebar content from child templates (for admin, staff, student) -->
    {% include 'components/sidebar.html' %}
    {% endblock %}
    <!-- End Sidebar -->

    <!-- ======= Main Content ======= -->
    <main id="main" class="main">
        <!-- Alerts -->
        {% include 'components/alerts.html' %}

        <!-- Breadcrumbs -->
        {% block breadcrumb %}
        {% endblock %}

        <!-- Main Content Block -->
        {% block main %}
        <!-- Page content goes here -->
        {% endblock %}
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% block footer %}
    <!-- Footer content from child templates -->
    {% endblock %}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center non-printable"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Base Vendor JS Files -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Bootstrap Bundle JS (includes Popper) -->
    <script src="{% static 'admin_site/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- NiceAdmin Main JS File -->
    <script src="{% static 'admin_site/scripts/main.js' %}"></script>
    {% block base_scripts %}
    <!-- This block will be overridden by child templates -->
    {% endblock %}

    <!-- Custom Page-Specific Scripts -->
    {% block extra_scripts %}
    {% endblock %}

</body>

</html>
